.jumbotron{
    background-color: yellow;
    color: black;
    margin-top: 55px;
}
footer{
    padding: 10px 10px 0px 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;
}
.card-hotel{
    flex: 1 150px;
    padding: 3px 3px 5px 5px;
    margin-top: 15px;
}
.btn-reserva{
    width: 100%;
}
.d-flex {
    display: flex;
    align-items: center;
  }